<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                </br>
                </br>
                </br>
                <h1 class="h1-responsive wow fadeInDown" data-wow-delay=0.2s>Welcome With The Best Kitchen Inventory App</h1></li>
            <li>
                <a target=_blank href="" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay=0.2s rel=nofollow>Sign up!</a>
                <a target=_blank href="" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay=0.2s rel=nofollow>Login</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<section class=section>
    <div class=divider-new>
        <h2 class="h2-responsive wow fadeIn" data-wow-delay=0.2s>FRESH FOOD</h2>
    </div>
    <p class=section-description>SELECT AN ITEM TO GET STARTED</p>
    <div class=row>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('fridge/fridge.jpg', :alt => "Fridge", :class => "img-fluid") %>

                    <div class="stripe dark">
                        <a>
                            <p class="text-center">FRIDGE <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('cabinet/cabinet.jpg', :alt => "Cabinet", :class => "img-fluid") %>

                    <div class="stripe light">
                        <a>
                            <p class="text-center">CABINET<i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('pantry/3.png', :alt => "Pantry", :class => "img-fluid") %>

                    <div class="stripe dark">
                        <a>
                            <p class="text-center">PANTRY<i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('assoss/2.jpg', :alt => "ACCESSORIES", :class => "img-fluid") %>

                    <div class="stripe light">
                        <a>
                            <p class="text-center">ACCESSORIES <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
